{% extends 'base.html' %}

{% block head %}
<tit>LyrAIX</tit>

{% endblock %}

{% block body %}
<div class="content">
    <h1>Welcome to LyrAIX</h1>
    <div>
      <h2>Congrats! your artist is already in our database!</h2>
      <p>Our original AI mechanism will recreate the lyrics of any author. Just press the button!</p>
    </div>
    <form action="/artist" method="POST">
        <input type="text" name="artist-search" id="artist-search">
        <input type="submit" value="Search Artist">
    </form>

</div>

{% endblock %}

{% for song in songs %}
        <tr>
            <td>{{ song.artist }}</td>
            <td>{{ song.lyrics }}</td>
            <td>{{ song.date_created.date() }}</td>
        </tr>
        {% endfor %}